{{!-- Page to create a new agenda --}}
<div class="new">
  <h2 class="title">{{t (humanize 'New agenda')}}</h2>

  <div class="actions">
    <button type="button" class="btn save" title="Save new agenda" {{action 'save' model}}>Save</button>
    <button type="button" class="btn cancel" title="Cancel" {{action 'cancel' model}}>Cancel</button>
  </div>

  {{!-- Table to show details of agenda. --}}
  <table>
    <thead>
      <tr>
        <th>Attribute</th>
        <th>Data</th>
      </tr>
    </thead>
    <tbody>
      <tr><td>zitting</td><td align='middle'>{{edit-belongs-to relName=model.zitting relType="zitting"}}</td></tr>
      <tr><td>agendapunten</td><td align='middle'>{{edit-has-many relName=model.agendapunten relType="agendapunt"}}</td></tr>
    </tbody>
  </table>
</div>
